.search-bar {
  border: 1px solid transparent;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: -7px 18px 32px -9px rgba(224, 224, 224, 1);
}

.searchBar--inp {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.searchBar--inp > * {
  flex: 1;
}

.css-gl260s-MuiDataGrid-columnHeadersInner {
  background-color: #f3f3f3;
}
